#include "${INC}"

namespace ${NAMESPACE}{
	/*** impl ${CLASS} ***/
	/** ctor & dtor **/
	${CLASS}::${CLASS}(){
	}
	${CLASS}::~${CLASS}(){
	}

	/** Object **/
	void ${CLASS}::init(){
		Super::init();
	}
	void ${CLASS}::finalize(){
		Super::finalize();
	}
}
